{% extends "base.html" %}
{% block meta %}
    <title>Education - {{ name }}</title>
{% endblock meta %}
{% block content %}
    <main>
        <section class="education" id="education">
            <div class="container">
                <div class="project-header">
                    <h1>Education</h1>
                    <a href="{% url 'main:create_education' %}" class="button project-add-button">
                        <span aria-hidden="true">+</span> Tambah Pendidikan
                    </a>
                </div>
                <div class="education-list">
                    {% for education in education_list %}
                        <article class="education-item">
                            <span class="education-year">
                                {{ education.started_at }} -
                                {% if education.ended_at %}
                                    {{ education.ended_at }}
                                {% else %}
                                    Present
                                {% endif %}
                            </span>
                            <h2>{{ education.title }}</h2>
                            <p class="education-info">
                                {{ education.description }}
                            </p>
                            <p class="education-category">
                                {{ education.get_category_display }}
                            </p>
                            <div class="project-card-actions">
                                <div class="project-actions">
                                    <a href="{% url 'main:update_education' education.id %}" class="button button-secondary">Edit</a>
                                    {% include "components/education_delete_modal.html" with education=education %}
                                </div>
                            </div>
                        </article>
                    {% empty %}
                        <p class="empty-state">Belum ada data education.</p>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock content %}